@import "colors";
@import "constants";
@import "mixins";

.button {
  display: inline-block;
  padding: 12px 36px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 2px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  transition: all @transition-duration;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &--blue {
    .colorizeButton(@color-blue, @button-text-color);
  }

  &--green {
    .colorizeButton(@color-green, @button-text-color);
  }

  &--pink {
    .colorizeButton(@color-pink, @button-text-color);
  }

  &--grey {
    .colorizeButton(@color-grey, @button-text-color);
  }

  &--disabled {
    opacity: 0.5;
  }
}
