@import "colors";
@import "gradients";
@import "constants";
@import "mixins";

.container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.section {
  position: relative;
  overflow: hidden;
 
}

.link {
  position: relative;
  text-decoration: none;

  &:after {
    content: "";
    display: inline-block;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width @transition-duration;

    speak: none;
  }

  &:hover:after,&.active:after {
    width: 100%;
  }
}

.table {
  width:820px; 
  @wide-cell-width: 184px;
  @tall-row-height: 60px;

  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  background-color: @color-dark-blue;
  box-shadow: 0 2px 4px rgba(119, 119, 119, 0.5);

  tr:nth-child(even) > td {
    background-color: @color-light-blue;
  }

  &__tr--tall &__td {
    height: @tall-row-height;
  }

  &__th {
    padding: 14px 18px;
    font-size: 18px;
    font-weight: normal;

    &--lined {
      border-left: 1px solid white;
      border-right: 1px solid white;
      &:last-child {
        border-right: none;
      }
    }
    
    &--wide {
      width: @wide-cell-width;
      max-width: @wide-cell-width;
    }
  }
  &__tr {
    font-size: 14px;
    &:first-child,&:last-child {
      font-size: 18px;
    }
  }
  &__td {
    padding: 15px 18px;
    border: none;
    margin: 0;

    max-width: 150px;

    &--lined {
      border-left: 1px solid white;
      border-right: 1px solid white;
      &:last-child {
        border-right: none;
      }
    }

    &--dark {
      background-color: @color-dark-blue !important;
    }

    &--borderless {
      border-left: none !important;
      border-right: none !important;
    }

    &--wide {
      width: @wide-cell-width;
      max-width: @wide-cell-width;
    }
    &--nowrap {
      white-space: nowrap;
    }

    &--big {
      padding: 30px 18px;
    }
  }

  &__tr:not(:last-child) > &__td {
    border: 1px solid white;
  }

  &__tr:not(:last-child) > &__td:first-child {
    border-left: none;
  }

  &__tr:not(:last-child) > &__td:last-child {
    border-right: none;
  }
}
.table.center {
  transform:translate(-40%,-50%);
}

.video {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  object-fit: fill;
  overflow: hidden;
}
.video.center {
  transform: translate(-59%,-50%);
}

.picture {
  max-width: 100%;
  height: auto;
}

.accordion {

  display: flex;
  height: 100%;
  
  &__inner {
    height: 100%;
  }
  &__strip {
    height: 100%;

    position: relative;

    flex-grow: 2;
    transition: all @transition-duration;

    .addBackgroundColorModifiers();

    &:hover {
      flex-grow: 12;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 22px;
      left: 50%;
      transform: translate(-50%, 0);

      width: 23px;
      height: 23px;
      background: url("img/accordion/star.svg") no-repeat;
    }
  }

  &__picture {

    margin: 30px 0;

    &-container {
      position: relative;
      width: 100%;
      height: 50%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__strip &__text {

    position: absolute;
    top: 0;
    left: 50%;
    width: 380px;
    margin-top: 35px;
    transform: translate(-50%, 0);
    
    visibility: hidden;
    opacity: 0;
    transition: all @transition-duration-long;
    
    border-right: 2px solid rgba(255, 255, 255, .5);

    &-container {
      position: relative;
      width: 100%;
      height: 50%;
    }
  }

  &__strip:hover &__text {
    visibility: visible;
    opacity: 1;
  }
}



.popup {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  left: 0;
  right: 0;
  top: -100%;
  margin: 0 auto;
  padding: 60px;

  color: #636363;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(120, 120, 120, 0.5);

  z-index: 101;
  transition: all 0.5s;

  &--request {
    width: 900px;
  }

  &__title {
    color: #13aad1;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  &__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__button {
    font-size: 14px;
    float: right;
  }

  &__bg {
    display: flex;

    visibility: hidden;
    opacity: 0;

    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    z-index: 100;

    align-items: center;
    justify-content: center;
  }
  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 14px;
    height: 14px;
    background: url('./img/close.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &--active {
    position: fixed;
    visibility: visible;
    opacity: 1;
    top: auto;
  }


}


.check-group {
  margin-bottom: 30px;

  &__check {
    display: inline-block;
  }
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  
  width: 20px; 
  height: 20px;
  
  background-color: #ebebeb;
  border-radius: 2px;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; 
  left: 0;
  
  transition: all .2s;

  font-size: 16px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  height: 20px;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}