@import "colors";
@import "gradients";
@import "constants";

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  padding: 25px 20px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
}

.section {
  position: relative;
}

.link {
  position: relative;
  text-decoration: none;

  &:after {
    content: "";
    display: inline-block;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width @transition-duration;

    speak: none;
  }

  &:hover:after {
    width: 100%;
  }
}
