@import "colors";

.input-text {
  display: block;
  width: 100%;
  padding: 9px 16px;
  border: 1px solid @color-blue;
  border-radius: 6px;
  box-sizing: border-box;
  line-height: 1.25;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &--grey {
    border:none;
    background-color: #ebebeb;
    color: #828282;
    margin-bottom: 20px;
  }
}

.input-textarea {
  padding: 16px 20px;
  
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;

  resize: none;
}

