@import "colors";

.input-text {
  display: block;
  width: 100%;
  padding: 9px 16px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  border:none;
  background-color: transparent;
  color: #828282;
  
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }


  &__container {
    position: relative;

    border-width: 1px;
    border-style: solid;
    border-color: @color-blue;
    border-radius: 6px;
    &--grey {
      border-color: transparent;
      background-color: #ebebeb;
      margin-bottom: 25px;
    }
  }

  &__placeholder {
    position: absolute;
    left: 15px;
    z-index: 1;
    transition: all .3s ease;
    top: 9px;
    color: #B3B3B3;
  }
  
  &.used + &__placeholder,
  &:active + &__placeholder,
  &:focus + &__placeholder {
    top: -17px;
    left: 4px;
    font-size: 12px;
  }
}

.input-textarea {
  padding: 16px 20px;
  
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;

  resize: none;
}

