@import "colors";

.info {
  width: 300px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 70%;
  z-index: 4;
  transform: translate(-50%, -50%);


  &__slide {
    background-color: white;
    box-shadow: 0 2px 4px rgba(81, 81, 81, 0.5);
  }

  &__wrapper {
    padding: 30px;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #c8c8c8;
  background: none;
  opacity: 1;

  &:nth-child(1) {
    background-color: @color-green;
    border-color: @color-green;
  }

  &:nth-child(2) {
    background-color: @color-brown;
    border-color: @color-brown;
  }

  &:nth-child(3) {
    background-color: @color-orange;
    border-color: @color-orange;
  }

  &:not(&-active) {
    border: 1px solid #c8c8c8;
    background: none;
  }
}

.swiper-pagination-bullets {
  position: absolute;
  top: 10px !important;
  right: 57px !important;    
  transform: rotate(-90deg) !important;
}
